html, body, #app {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px 80px;
}

@media screen and (max-width: 1024px) {
    main {
        flex: 1;
        padding: 20px 20px;
    }
}
